.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  text-align: center;
  background-image: url(../public/pics/orderBanner.png);
  background-size: cover;
  padding: 80px;
  color: white;
  font-size: 35px;
  font-family: 'Gluten', cursive;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.content {
  text-align: center;
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 40px;
  padding-top: 3%;
}

.greenBox {
  /* margin-top: 100px;
  margin-left: 100px; */
  margin: 3%;
  margin-bottom: 5%;
  background-color: rgb(223, 236, 164, 0.68);
  border-radius: 3px;
}

.column {
  float: left;
  width: 40%;
  padding: 20px;
}

/* .greenBox::after {
  content: "";
  clear: both;
  display: table;
  
} */

.images {
  text-align: center;
}

.innerWhiteBox {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 5px;
}

#firstBox {
  margin-left: 10%;
  margin-right: 2.5%;
}

#secondBox {
  margin-right: 10%;
  margin-left: 2.5%;
}

.innerWhiteBox>h3 {
  font-family: 'Gluten', cursive;
  font-size: 400%;
  padding-top: 5%;
}


.innerWhiteBox>p {
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 150%;
}

/* .innerWhiteBox :nth-child(5) {
  letter-spacing: 0.1em;
  font-size: 200%;
} */

/* .innerWhiteBox :nth-child(6) {
  letter-spacing: 0.1em;
  font-size: 200%;
} */

/* #dotRow {
  letter-spacing: 0.1em;
  font-size: 200%;
} */

.innerWhiteBox :nth-child(5) {
  text-align: left;
}

.websiteNames {
  text-align: left;
  font-size: 150%;
  font-family: 'Baloo Bhai 2', cursive;
}

.prices {
  text-align: right;
  font-size: 150%;
  font-family: 'Baloo Bhai 2', cursive;
  letter-spacing: 0.1em;
}

.deliciousness {
  text-align: right;
  font-size: 150%;
  font-family: 'Baloo Bhai 2', cursive;
}

.websiteNames>p>a {
  color: #282c34
}

.dottedLine {
  border-top: dotted 7px;
  /* border-radius: 3px */
}

.bottomLogo {
  padding-top: 5%;
  padding-bottom: 5%;
}

/* To fix extra padding below p-tags */
/* From bootstrap? */
p {
  margin-bottom: 0;
}


/* MENU */

.menu-header {
  font-family: 'Gluten';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 88px;
}

.menu-type {
  font-family: 'Gluten';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 88px;
  text-align: center;
  margin-top: 80px;
}

.img-col img {
  width: 250px;
  height: 250px;
  margin-bottom: 15px;
}

.header-box {
  height: 250px;
}



.menu-chunk h2 {
  font-family: 'Baloo Bhai 2';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 81px;
  text-decoration-line: underline;
  color: #BC8F5A;
}

.menu-chunk span {
  font-family: 'Baloo Bhai 2';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 65px;
  color: #BC8F5A;
}

.menu-chunk ul {
  list-style-type: none;
  text-align: left;
}

.menu-chunk li {
  font-family: 'Baloo Bhai 2';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 62px;
  margin-left: 50px;
}

.menu-items .card {
  background: #FAEDCD;
  border-radius: 159px;
  border: none;
}

.item-img {
  height: 200px;
}

.menu-items h5 {
  font-family: 'Baloo Bhai 2';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
}

.menu-items p {
  font-family: 'Baloo Bhai 2';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}