
a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

@media screen and (max-width: 990px) {
    .large-header{
      display: none !important;
    } 
  }
  @media screen and (min-width: 990px) {
    .small-header{
        display: none !important;
    }
  }

.footer-container{
    background-color: #E0D4C5;
    
}